.container{
    font-family: Arial, sans-serif;
    background-color: gray;
    border-radius:15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    margin: none;
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

button:hover{
    background-color: yellowgreen;
}